body {
  /* background-color: black; */
  font-size: min(4vw, 4vh) ;
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.App .EssentialRectImg {
  flex-grow: 1;
}

.overlay {
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100%;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
  height: 100%;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 1.3em;
}

.controls img {
  width: 1.2em;
  padding: 0em 1em;
}

@media all and (display-mode: fullscreen) {
  .controls-fullscreen {
    display: none;
  }  
}

/* ----- */

.logo-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper img {
  width: 55%;
}

@media (max-aspect-ratio: 1/1) {
  .logo-wrapper img {
    width: 75%;
  }
}

.logo-wrapper p {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.5em;
  color: black;
}

/* ----- */

.rotate-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.rotate-wrapper img {
  width: 20%;
}

@media (max-aspect-ratio: 1/1) {
  .rotate-wrapper img {
    width: 50%;
  }
}

.rotate-wrapper p {
  display: inline-block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 0.5em;
  margin-left: 3em;
  margin-right: 2em;
  color: black;
}

/* ------ */

.caption {
  margin: 1em 3em;
  display: inline-block;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0.6em;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

/* ------ */

.requestrotate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border: 1px solid black;
  padding: 0em;
  border-radius: 0.6em;
  margin: 2em 0.5em;
  font-size: 0.8em;
  align-self: flex-start;
}

.requestrotate-wrapper img {
  width: 4.5em;
}

.requestrotate-wrapper p {
  display: inline-block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color: black;
  padding: 0.5em;
  width: 15em;
}

@media (max-aspect-ratio: 1/1) {
  .requestrotate-wrapper p {
    width: 12em;
  }
}

